.Header{
    background-color: #0099ff1e;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
}

.Header .Logo { 
    display: inline;
}

.Header .Logo p{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.Header .Logo p span{ color: #0099ff; }

.Header .Navbar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
}

.Header .Navbar p{ margin: 0; }

.Header .Navbar p:hover{
    border-right: 5px solid rgb(0, 38, 255);
    cursor: pointer;
    background-color: #0099ff28;
}

.Header .Navbar p.navbar-active{
    border-right: 5px solid rgb(0, 38, 255);
    cursor: pointer;
    background-color: #0099ff28;
}

.Header .Navbar p .link{
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 78, 0.808);
    padding: 10px 0 10px 10px;
    font-size: 17px;
    font-weight: 500;
}