.Header{
    background-color: #0099ff1e;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
}

.Header .Logo { 
    display: inline;
}

.Header .Logo p{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.Header .Logo p span{ color: rgb(0, 153, 255); }

.Header .Navbar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
}

.Header .Navbar p{
    font-size: 17px;
    font-weight: 500;
    color: rgba(0, 0, 78, 0.808);
    margin: 0;
    line-height: 40px;
    padding-left: 10px;
}

.Header .Navbar p:hover{
    border-right: 5px solid rgb(0, 38, 255);
    cursor: pointer;
    background-color: #0099ff28;
}